.timer-frame{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../../img/backTool1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #310050;
}
.finished-h1{
    font-size: 30px;
    margin: 20px;
}
.finished-box{
    width: auto;
    height: auto;
    background-color: rgb(64, 69, 73);
    border-radius: 20px;
}
.timer-frame-time{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.timer-h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timer-h1-span{
    background: -webkit-linear-gradient(-86deg, #F05A28 5%, #D91C5C 53%, #A922FF 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    color: #18001d;
    text-transform: uppercase;
    margin-top: -10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 5px;
    font-size: 50px;
    font-weight: 700;
    line-height: 90%;
    position: relative;
    top: 16px;
    z-index: 1;
}

.time{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.timer-box{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 5px;
    gap: 10px;
}

.timer-span{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #D91C5C;
}

.clock-box{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 2px;
}
.clock-design{
    position: relative;
    display: flex;
    font-size: 63px;
    background-color: rgb(64, 69, 73);
    border-radius: 5px;
    padding: 10px 10px;
    width: 60px;
    color: #D91C5C;
    justify-content: center;
}
.clock-design::before{
    position: absolute;
    inset: 50% 0px;
    content: "";
    height: 2px;
    background-color: rgb(35, 35, 35);
    opacity: 0.4;
}
.organizer{
    width: 400px;
    padding: 10px;
}
.organizerTitle{
    margin-bottom: 20px;
}
.organizerList{
    color: #fff;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: all .2s;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 25px;
}

.organizerButton{
    color: #fff;
    padding-right: 35px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    transition: all .5s;
    font-size: 28px;
    display: flex;
    width: auto;
    gap: 12px;
    align-items: center;
}
.organizerButton:hover{
    color: #a922ff;
}


@media screen and (min-width: 1440px){
    .timer-h1-span {
        font-size: 65px;
    }
}
@media screen and (max-width: 1200px) {
    .organizer{
        width: auto;
    }
}
@media screen and (max-width: 991px){
    .timer-frame{
        flex-direction: column;
        justify-content: unset;
        align-items: start;
        height: auto;
    }
    .timer-frame-time{
        min-width: 100%;
    }
    .timer-h1-span {
        font-size: 8vw;
    }
    .clock-design{
        padding: 10px 12px;
        font-size: 5vw;
        width: 6vw;
    }
    .timer-span {
        font-size: 2vw;
    }
    .organizer {
        padding-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
}
@media screen and (max-width: 691px){
    .timer-span {
        font-size: 18px;
    }
    .clock-design{
        font-size: 34px;
    width: 40px;
    }
}

@media screen and (max-width: 401px){
    .organizerTitle{
        font-size: 26px;
    }
    .clock-design{
        font-size: 20px;
        width: 28px;    
    }
    .timer-span {
        font-size: 11px;
    }
}

main{
    padding-top: 50px;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
  }

  button{
    background-color: transparent;
    color: rgba(255,255,255,0.8);
    border:0;
    display: inline-block;
    width: 100px;
    cursor: pointer;
  }

  button.with-text{
    width: auto;
    background-color:rgba(255,255,255,0.1);
    border-radius:10px;
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: 36px;
  }
  button.with-text svg{
    width: 36px;
    float:left;
    margin-right: 5px;
  }

  label{
    display:block;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: capitalize;
  }
  @media screen and (max-width: 600px){
    .organizerList{
        font-size: 20px;
    }
}
@media screen and (max-width: 1090px){
    .organizerList{
        padding-left: 0px;
    }
}