.reward{
    height: 750px;
    display: flex;
    padding-top: 90px;
    justify-content: space-evenly;
    background-image: url('../../img/backTool1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #310050;
}
.reward-frame{
    min-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reward_h{
    background: -webkit-linear-gradient(-86deg, #F05A28 5%, #D91C5C 53%, #A922FF 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    color: #18001d;
    text-transform: uppercase;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 700;
    line-height: 90%;
}
.reward-text{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px 100px;
    border-bottom: 2px solid #F05A27;
}
.reward-text-st{
    text-transform: uppercase;
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-bottom: 20px;
}
.reward-text2{
    display: flex;
    /* padding: 50px; */
    justify-content: space-between ;
    border-bottom: 1px solid transparent;
    font-size: 20px;
}
.reward-text-bg{
    display: flex;
    padding: 10px;
    font-size: 30px;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #F05A27;
}

@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    .reward-text2 {
      display: grid;
      justify-content: center;
    }
    .reward{
        height: 900px;
    }
    .reward_h{
        font-size: 30px;
    }
    h5{
        font-size: 16px;
    }
    .reward-frame{
        min-width: auto;
    }
  }
  @media only screen and (max-width: 580px) {
    /* For mobile phones: */
    .reward-text2 {
      display: grid;
      justify-content: center;
    }
    .reward{
        height: 900px;
    }
    .reward_h{
        font-size: 24px;
    }
    .reward-text-st{
        font-size: 22px;
    }
    .reward-text-bg{
        font-size: 22px;
        padding: 5px 10px;
    }
    h5{
        font-size: 12px;
    }
    .reward-text{
        margin: 20px 50px;
    }
  }